/InternetCommunicator.Api/bin
/InternetCommunicator.Api/obj
/InternetCommunicator.Application/bin
/InternetCommunicator.Application/obj
/InternetCommunicator.Domain/bin
/InternetCommunicator.Domain/obj
/InternetCommunicator.Infrastructure/bin
/InternetCommunicator.Infrastructure/obj

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache